:root {
  --gray: #e7e9eb;
  --dark_blue: #1d2a35;
}

.hidden {
  display: none;
}

.appBody {
  background-color: var(--gray);
  width: 100vw;
  height: 100vh;
}

.menuBody {
  background-color: var(--dark_blue);
  color: var(--gray);
}

#column_input {
  width: 3rem;
}

.pointer {
  cursor: pointer;
  transition: 0.3s;
}

.pointer:hover {
  background-color: var(--dark_blue);
  color: var(--gray);
}
